# MAC
.DS_Store
.AppleDouble
.LSOverride


# .NET
bin/
obj/
[Tt]est[Rr]esults/
*.db
*.db-journal

# RIDER
.idea/
*.sln.iml
*.suo
*.user
*.userosscache
*.sln.dotSettings.user
_ReSharper.Caches/
riderModule.iml

# VSCODE
.vscode/

# sec
appsettings.Development.json